.darkmode_container {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle_container {
  position: relative;
  height: 2.5rem;
  width: 5rem;
  border-radius: 0.7rem;
  background-color: var(--toggle_button_color);
  border: 3px solid var(--toggle_button_color);
  transition: all 0.3s ease;
}
.toggle_container .toggle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  aspect-ratio: 1;
  background-color: var(--light_background);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.darkmode {
  right: 0;
}
.toggle_container:hover div {
  left: 100%;
  transform: translateX(-100%);
}
