.social_grid_container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
  align-content: space-between;
}
.social {
  background-color: white;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.social img {
  height: 36px;
}
.social:hover {
  z-index: 9;
  -webkit-box-shadow: 0 8px 18.5px 11.5px rgba(151, 151, 151, 0.4);
  -moz-box-shadow: 0 8px 18.5px 11.5px rgba(151, 151, 151, 0.4);
  box-shadow: 0 8px 18.5px 3px rgba(151, 151, 151, 0.4);
  transform: scale(1.05);
}
.linkedin {
  background-color: #2363b6;
}
.twitter {
  background-color: #1b9ff1;
}
.discord {
  background-color: #7187da;
}
.mail {
  background-color: #f14134;
}
