.social_grid_container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
  align-content: space-between;
}
.social {
  background-color: white;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.social img {
  height: 2.25rem;
}
.social:hover {
  z-index: 9;
  box-shadow: var(--grid_box_shadow);
  transform: scale(1.05);
}
.linkedin {
  background-color: var(--background_linkedin);
}
.twitter {
  background-color: var(--background_twitter);
}
.github {
  background-color: var(--background_github);
}
.mail {
  background-color: var(--background_mail);
}
