.talking_grid_container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.talking_grid_heading {
  font-family: "Carter One", sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--mid_gray);
}
.talking_grid_description {
  line-height: 1.5rem;
}
