.header {
  margin-inline: auto;
  margin-block: 1rem;

  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact_button {
  padding: 0 2rem;
  height: calc(2rem + 4px);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.5px solid var(--mid_gray);
  transition: all 0.3s ease;
}
.contact_button:hover {
  background-color: var(--light_navbar_background);
}
