@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Spartan:wght@100;200;300;400;450;500;600;700;800;900&display=swap");

:root {
  --light_background: #f2e9e4;
  --light_navbar_background: #c9ada7;
  --grid_background: #fff;
  --grid_box_shadow: 0px 0px 5px 0px rgb(151 151 151 / 40%);
  --hover_background: #ffffff9d;

  --background_instagram: linear-gradient(
    225deg,
    #4f5bd5 0%,
    #962fbf 25%,
    #d62976 50%,
    #fa7e1e 75%,
    #feda75 100%
  );
  --background_twitter: #1b9ff1;
  --background_github: #000000;
  --background_snapchat: #fefb00;
  --background_mail: #f14134;
  --background_linkedin: #2363b6;

  --dark_gray: #353535;
  --mid_gray: #686868;
  --light_gray: #b8b8b8;
  --name_color: #deae82;
  --avatar_dropShadow: drop-shadow(3px 4px 8px rgba(0, 0, 0, 0.5));
  --toggle_button_color: #38364f;
}
.darkMode {
  /* --light_background: #1a243d; */
  --light_background: #000;
  /* --grid_background: #2a395f; */
  --grid_background: #25272c;
  /* --light_navbar_background: #2a395f; */
  --light_navbar_background: #25272c;
  --hover_background: #00000085;
  --mid_gray: #e2e2e2;
  --name_color: #4276b1;

  color: #fff;
}
.darkMode a {
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  user-select: none;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
body {
  background-color: var(--light_background);
  font-size: 16px;
}
p {
  line-height: 1.5rem;
}
footer {
  height: 100px;
}
.heading {
  font-family: "Carter One", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--mid_gray);
}
iframe {
  pointer-events: none;
}
.grid {
  background-color: var(--grid_background);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: stretch;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: var(--grid_box_shadow);

  overflow: hidden;
}
.grid * {
  transition: all 0.3s ease;
}
.grid:hover {
  transform-style: preserve-3d;
  z-index: 9;
  box-shadow: 0px 0px 10.5px 5px rgba(151, 151, 151, 0.4);
  transform: scale(1.01);
  transform-origin: bottom;
}
.grid img {
  transition: all 0.3s ease;
  transition-delay: 0.2s;
}
.grid:hover img {
  transform: scale(1.1);
}
