@media (max-width: 1160px) {
  .container {
    width: 52.5rem;
  }
  .home_grid_container {
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
      "one one two"
      "three five five"
      "three seven six"
      "eight eight six"
      "four nine nine";
  }
  .project_grid_container {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .ten {
    display: none;
  }
}
@media (max-width: 880px) {
  /* ----------navbar------------ */
  .header {
    padding: 0 1rem;
    position: sticky;
    z-index: 999;
  }
  .navbar_button {
    display: flex;
    flex-grow: 0;
    align-self: center;
    padding: 0 2rem;
  }
  .navbar_button i {
    font-size: 2rem;
  }

  .navbar {
    position: fixed;
    top: -110%;
    left: 0;
    border-radius: 0;
    width: 100%;
    z-index: 99;
    overflow: hidden;
    transition: all ease 0.3s;
    height: 100vh;
  }
  .navbar .nav_links {
    position: relative;
    flex-direction: column;
    width: 100%;
  }
  .navbar .nav_links a {
    border-radius: 0;
    padding-block: 2rem;
  }
  .navbar .nav_links li {
    width: 100%;
  }
  .navbar_show {
    top: 0rem;
  }
  .close_button {
    position: absolute;
    bottom: -10rem;
    background-color: var(--light_background);
    height: 75px;
    width: 75px !important;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ----------navbar------------ */

  .container {
    width: 35rem;
  }
  .home_grid_container {
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
      "one one"
      "two three"
      "six three"
      "six seven"
      "five five"
      "eight eight"
      "four ten"
      "nine nine";
  }
  .project_grid_container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .ten {
    display: flex;
  }
  /* --------aboutsection-------- */
  .about_container > * {
    padding: 2rem 5% !important;
  }
  .detail {
    flex-direction: column;
  }
  .social_icons_container {
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  .social_icon_container {
    margin: 0 0 !important;
  }
  .detail_placeTime {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .detail_placeTime span {
    line-height: 1.5rem !important;
  }

  /* --------aboutsection-------- */
}
@media (max-width: 600px) {
  .container {
    width: 20rem;
  }
  .project_grid_container {
    grid-auto-rows: 20rem !important;

    grid-template-columns: repeat(1, 1fr) !important;
  }
  .home_grid_container {
    grid-auto-rows: 20rem;

    grid-template-columns: repeat(1, 1fr);

    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "six"
      "seven"
      "eight"
      "nine"
      "ten";
  }
  .ten {
    display: flex;
  }
  .five {
    display: none;
  }
  /* ----one---- */
  .one {
    flex-direction: column-reverse;
    position: relative;
  }
  .one .intro_container .intro {
    margin-top: 6rem;
  }
  .one .intro_container {
    position: relative;
  }
  .one .intro_container .button {
    position: absolute;
    top: 3rem;
  }
  .one .avatar {
    height: 60%;
    position: absolute;
    right: -1rem;
    top: 0;
  }
  /* -------one------- */
  /* ---------projectOne--------- */
  .project_one {
    flex-direction: column-reverse;
    position: relative;
  }
  .project_one .intro_container .intro {
    margin-top: 6rem;
  }
  .project_one .intro_container {
    position: relative;
  }
  .project_one .intro_container .button {
    position: absolute;
    top: 3rem;
  }
  .project_one .avatar {
    height: 60%;
    position: absolute;
    right: -1rem;
    top: 0;
  }
  .project_grid_container .project_one {
    grid-column: unset !important;
  }
  /* ---------projectOne--------- */
  /* -----------ProjectGrid------------ */
  .grid .projectGrid .projectHeading,
  .grid:hover .projectGrid .projectHeading {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-size: 2rem !important;
  }
  .grid .projectGrid .projectTech,
  .grid:hover .projectGrid .projectTech {
    margin: 0rem 0 !important;
  }
  .grid .projectGrid .projectButton,
  .grid:hover .projectGrid .projectButton {
    bottom: 0rem !important;
  }

  /* -----------ProjectGrid------------ */
  .grid:hover {
    transform: unset;
    box-shadow: 0px 0px 5px 0px rgb(151 151 151 / 40%);
  }
  .background::before {
    background-color: #ffffff28;
    backdrop-filter: blur(2px);
  }

  .background .button {
    transform: scale(1.01);
    border: 2px solid var(--dark_gray);
    bottom: 1rem;
  }
  .background_heading {
    color: var(--mid_gray);
  }
  .background .background_heading {
    margin-top: 1rem;
  }
  .background .topic_list {
    transform: translateX(0);
  }

  .background:hover .background_heading {
    margin-top: 1rem;
  }
  .topic_list {
    margin-top: 1rem;
  }

  .talking_grid_container .button,
  .grid:hover .talking_grid_container .button {
    bottom: 0.2rem;
  }
  .talking_grid_heading {
    font-size: 2rem;
  }
}
