@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Outfit", sans-serif;
  }
}

.loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 0 auto;
}
.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #1fb2a6;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}
.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #fff, -35px 50px 0 #fff, -70px 95px 0 #fff;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }
  40% {
    transform: scale(0.8, 1.2);
  }
  60% {
    transform: scale(1, 1);
  }
  100% {
    bottom: 140px;
  }
}
@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0), 0 10px 0 #fff, -35px 50px 0 #fff,
      -70px 90px 0 #fff;
  }
  100% {
    box-shadow: 0 10px 0 #fff, -35px 50px 0 #fff, -70px 90px 0 #fff,
      -70px 90px 0 rgba(0, 0, 0, 0);
  }
}

#wave {
  transform-origin: bottom right;
  animation: wave 0.25s ease-in-out 0s infinite alternate;
  cursor: pointer;
}
#scrollBtn {
  animation: upDown 0.5s ease-in-out 0s infinite alternate;
}
@keyframes wave {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes upDown {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0);
  }
}
